*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --azulOscuro: #2c3e50;
    --azul: #1f92d0;
    --grisClaro: #f2f3f4;
    --grisOscuro: #e5e8e8;
    --negro: #000;
    --blanco: #fff;
    /* Tamaño de las letras */
    --font-size-primary: 1.4rem;
    --font-size-secondary: 1.2rem;
    /* main */
    --main-container-width:100vw;
    --console-icons-height:3rem;
    /* Formulario de creacion */
    --formulario-width:80rem;
    --width-input: 85%;
    --height-input: 3.5rem;
    --width-label: 15%;
    --radio-height: 1.5rem;
    --radio-width: 1.2rem;
    --textarea-height: 20rem;
    --textarea-width: 85%;
    --button-width: 10rem;
    --button-height: 5rem;
}

/* Container Estructural */
.container{
    display: block;
}



/* Contenedor estructural del main */
    /* main */
    .main{
        display: flex;
        flex-direction: column;
        width: var(--main-container-width);
        z-index: -1;
        background-color: var(--blanco);
        min-height: 92vh;
    }
    

/* Estilos Formulario */
.form{
    display: flex;
    flex-direction: column;
    height:auto;
    background-color: var(--blanco);
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: var(--formulario-width);
    justify-content: center;

}
.form div {
    display: flex;
    align-items: center;
}
.titulo{
    font-size: calc(var(--font-size-primary)*1.5);
    text-align: center;
    margin-bottom: 0.5rem;
    color: var(--negro);
}
.label {
    margin-right: 1rem;
    font-size: var(--font-size-primary);
    width: var(--width-label);
    font-weight: bold;
}
.input-text {
    margin: 0.5rem 0.5rem;
    height: var(--height-input);
    width: var(--width-input);
    font-size: var(--font-size-primary);
    border: 0.3rem solid var(--grisOscuro);
    text-align: center;
}
.div-radio {
    display: flex;
    flex-direction: column;
}
.radio {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin: 1rem;
    height: var(--radio-height);
    width: var(--radio-width);
}
.valores-radio{
    margin-right: 4rem;
    margin-left: 0.5rem;
    font-size: var(--font-size-secondary);
    width: var(--width-label);
}

.text-area{
    margin: 0.5rem 0.5rem;
    height: var(--textarea-height);
    width: var(--textarea-width);
    font-size: var(--font-size-primary);
    border: 0.3rem solid var(--grisOscuro);
}

.div-check{
    display: flex;
    flex-direction: column;    
}
.div-check div {
    width: 65rem;
    padding: 1rem;
}
.valores-check{
    margin-left: 2rem;
    font-size: var(--font-size-secondary);
    
}
.input-check {
    height: 2rem;
    width: 2rem;
}


.botoncito{
    margin: 1rem 1rem;
    height: var(--button-height);
    width: var(--button-width);
    font-size: var(--font-size-primary);
    text-align: center;
    background-color: var(--azul);
    border: 1px solid var(--azul);
    border-radius: 8%;
    color: var(--blanco);
}



#tabla {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: var(--font-size-primary);
}



.alerta{
    display: none;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    height:3rem;
    width: 50rem;
    align-items: center;
    font-size: var(--font-size-primary);
    font-weight: bold;
    justify-content: center;
}
.verde{
    background-color:#5dc258;
    color: white;
}
.rojo{
    background-color:#dc2222;
    color: white;
}

.index {
    display:flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 16px;
}
